@import "@/styles/base/variables";

.gender div {
  width: 260px;
  height: 40px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color: $lightest;
  border-radius: 4px;

  span {
    width: 120px;
    height: 32px;
    background-color: $lightest;
    @include text-xs;
    color: $on-surface;
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    margin: 0 4px;
    cursor: pointer;

    &.gender__label__checked {
      color: $on-secondary;
      background-color: $secondary;
    }
  }

}
