@import '@/styles/base/variables';

.images {
  width: 584px;
  height: 496px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-top: 16px;

  &__left {
    background-color: $surface; 
  }

  &__right {
    width: 504px;
    height: 496px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: $surface;
    border-radius: 4px;
    @include default-shadow-xs;
  }
}
