@import '@/styles/base/variables';

.primaryButton {
    width: 260px;
    height: 68px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    background-color: $primary-muted;
    color: $primary;
    @include text-l;
    border-radius: 4px;
    transition: all 0.27s ease-in-out;

  &:hover {
      background-color: $primary;
      color: $on-primary;
  }
}

.secondaryButton {
  border: 1px solid $secondary;
  border-radius: 4px;
  transition: all 0.19s ease-in;

  &__size {
    &__s {
      width: 121px;
      height: 32px;
      @include text-xs;
    }
    &__m {
      width: 140px;
      height: 40px;
      @include text-s;
    }
  }

  &__outline {
    color: $secondary;

    &:hover {
      transform: translateY(-5px);
      @include secondary-shadow-s;
    }
  }
  &__default {
    background-color: $secondary;
    color: $on-secondary;

    &:hover {
      background-color: $primary;
      border: 1px solid $primary;
    }
  }
}

.closeButton {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $lightest;
}

.backButton {
  width: 111px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11.5px;
  @include text-xs;
  color: $hardest;

}
