// Main colors
$background-content: #fbf8ec;
$background: #f4f4f2;
$surface: #ffffff;
$primary: #ff6633;
$secondary: #70c05b;
$on-background: #291e0f;
$on-surface: #414141;
$on-primary: #ffffff;
$on-secondary: #ffffff;
$footer-bg: #f9f4e2;
// GrayScale

$lightest: #f3f2f1;
$light: #bfbfbf;
$hard: #8f7f7f;
$hardest: #606060;
$primary-muted: #fcd5ba;
$secondary-muted: #e5ffde;
// Pallete

$success: #008c49;
$info: #1cb9fc;
$warning: #fca21c;
$error: #d80000;
