
// Secondary shadows

@mixin secondary-shadow-xs {
  box-shadow: 1px 2px 4px rgba(112, 192, 91, 0.2);
}

@mixin secondary-shadow-s {
box-shadow: 2px 4px 8px rgba(112, 192, 91, 0.2);
}

@mixin secondary-shadow-m {
box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
}
@mixin secondary-shadow-l {
box-shadow: 8px 16px 32px rgba(112, 192, 91, 0.2);
}
@mixin secondary-shadow-xl {
box-shadow: 16px 32px 64px rgba(112, 192, 91, 0.2);
}
