$primary-font: 'Rubik', sans-serif;
@import './breakpoints';

// Mixins for desktop typography

@mixin text-xs {
  font-family: $primary-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  
  @include mediaMobile {
    font-size: 8px;
  }
}

@mixin text-s {
  font-family: $primary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  
  @include mediaMobile {
    font-size: 12px;
  }
}

@mixin text-m {
  font-family: $primary-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  
  @include mediaMobile {
    font-size: 14px;
  }
}

@mixin text-l {
  font-family: $primary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  
  @include mediaMobile {
    font-size: 20px;
  }
}

@mixin text-xl {
  font-family: $primary-font;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include mediaMobile {
    font-size: 32px;
  }
}

@mixin bold-text-xs {
  font-family: $primary-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @include mediaMobile {
    font-size: 8px;
  }
}

@mixin bold-text-s {
  font-family: $primary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @include mediaMobile {
    font-size: 12px;
  }
}

@mixin bold-text-m {
  font-family: $primary-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @include mediaMobile {
    font-size: 14px;
  }
}

@mixin bold-text-l {
  font-family: $primary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @include mediaMobile {
    font-size: 20px;
  }
}

@mixin bold-text-xl {
  font-family: $primary-font;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @include mediaMobile {
    font-size: 32px;
  }
}

@mixin header-text-xs {
  font-family: $primary-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @include mediaMobile {
    font-size: 16px;
  }
}

@mixin header-text-s {
  font-family: $primary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @include mediaMobile {
    font-size: 20px;
  }
}

@mixin header-text-m {
  font-family: $primary-font;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @include mediaMobile {
    font-size: 24px;
  }
}

@mixin header-text-l {
  font-family: $primary-font;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @include mediaMobile {
    font-size: 36px;
  }
}

@mixin header-text-xl {
  font-family: $primary-font;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @include mediaMobile {
    font-size: 48px;
  }
}
