@import '@/styles/base/variables';

.header {
  max-width: 1440px;
  max-height: 72px;
  position: relative;
  background-color: $surface;
  z-index: 2;
  @include default-shadow-s;

  &__content {
    max-width: 1440px;
    height: 72px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: $surface;
    z-index: 2;
    @include default-shadow-s
  }
}

.productActions {
  display: flex;
  align-items: center;
  gap: 16px;

  .catalog {
    height: 72px;
    display: flex;
    align-items: center;
    gap: 8px;

    .catalogBtn {
      width: 140px;
      height: 40px;
      background-color: $secondary;
      border-radius: 4px;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;

      a {
        @include text-s;
        color: $on-secondary;
      }
    }
  }
}


.user {
  max-width: 480px;
  max-height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  z-index: 111;

  .actions {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 24px;
      padding-top: 10px;
      z-index: 110;

      .link {
        width: 65px;
        height: 50px;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        @include text-xs;
        color: $on-surface;
        text-align: center;
        z-index: 111;
        cursor: pointer;
      }
    }

  .auth {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 24px;
  }

  .authActions {
    display: flex;
  flex-flow: row ;
  align-items: center;
  gap: 24px;
  justify-content: space-between;

  .userBar {
    display: flex;
    gap: 10px;
    align-items: center;

    .avatar {
      height: 24px;
      width: 24px;
      border-radius: 24px
      }
    }

    .userMenu {
      margin-top: 10px;
    }
  }}
