@import '@/styles/base/variables';

.header {
  max-width: 1440px;
  max-height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  background-color: $surface;
  padding: 16px 0;
  z-index: 2;
}

.productActions {
  display: flex;
  align-items: center;
  gap: 16px;

  .catalog {
    display: flex;
    align-items: center;
    gap: 8px;

    .catalogBtn {
      width: 140px;
      height: 40px;
      background-color: $secondary;
      border-radius: 8px;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;

      a {
        @include text-s;
        color: $on-secondary;
      }
      &:hover {
        a ul {
          display: grid;
        }
      }
    }
  }
}

.actions {
  ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 24px;
    padding-top: 10px;
    z-index: 110
  }
  .action {
    width: 65px;
    height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    @include text-xs;
    color: $on-surface;
    text-align: center;
    z-index: 111;
  }
}

.auth {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 24px;
  z-index: 111;
}

.user {
  ul {

  display: flex;
  flex-flow: row ;
  align-items: center;
  gap: 24px;
  justify-content: space-between;

  .userBar {
    display: flex;
    gap: 10px;
    align-items: center;

    .avatar {
      height: 24px;
      width: 24px;
      border-radius: 24px
      }
    }

    .userMenu {
      margin-top: 10px;
    }
  }
}

.link {
  @include text-xs;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: $on-surface;

  &::before, &::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
  }
  &::before {
    background-color: $on-surface;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  &::after {
    content: attr(data-replace);
    height:100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(0, 200%, 0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    color: $secondary;
  }
  &:hover {
    &::before {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }
    &::after {
      transform: translate3d(0, 0, 0);
    }
  }

  span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  &:hover {
    span {
      transform: translate3d(0, -200%, 0);
    }
  }
}
