@import "@/styles/base/variables";

.products {

  &__section {
    display: flex;
    flex-direction: column;
    gap: 40px;


    &__list {
      width: 1240px;
      max-height: 369px;
      display: flex;
      flex-flow: row nowrap;
      gap: 40px;
      overflow-x: hidden;

      .product__card {
        width: 272px;
        height: 349px;
        background-color: $surface;
        border-radius: 4px;
        @include default-shadow-xs;
        transition: all .27s ease-in;

        &:hover {
          @include primary-shadow-m;
        }

        &__image {
          width: 272px;
          height: 160px;
          position: relative;

          &__favorite {
            position: absolute;
            top: 8px;
            right: 8px;
            cursor: pointer;
            width:32px;
            height: 32px;
            background-color: $lightest;
            opacity: 50%;
            border-radius: 4px;
            transition: all .27s ease-in;

            &:hover {
              background-color: $primary-muted;
            }

            &__active {
              opacity: 100%;
              background-color: $surface;

            }
          }
        }

        &__content {
          width: 256px;
          height: 189px;
          display: flex;
          flex-flow: column nowrap;
          gap: 8px;
          padding: 8px;

          &__name {
            max-width: 256px;
            max-height: 48px;
            @include text-s;
            color: $on-surface;
            overflow: hidden;
          }
          &__button {
            width: 256px;
            height:40px;
            border: 1px solid $secondary;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include text-s;
            color: $secondary;
            transition: all .27s ease-in;

            &:hover {
              background-color: $primary;
              color: $on-primary;
              border: 1px solid $primary;
            }

            &__added {
              height: 40px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 4px;
              color: $on-secondary;
              background-color: $secondary;
              border-radius: 4px;
            }
          }

          &__price{
            height: 45px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            &__discount{
              @include bold-text-m;
              color: $on-surface;
              p {
                @include text-xs;
                color: $light;
                }
              }
            &__real{
              @include text-s;
              color: $hardest;

              p {
                @include text-xs;
                color: $light;
              }
              &__bold {
                @include bold-text-m;
                color: $on-surface;
              }
            }
          }
      }
      }
    }
  }
}
