@import '@/styles/base/variables';

.favorite {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: $lightest;
  opacity: 50%;
  border-radius: 4px;
  transition: all .27s ease-in;

  &:hover {
    background-color: $primary-muted;
  }

  &__active {
    opacity: 100%;
    background-color: $surface;

  }
}
