@import '@/styles/base/variables';

.signIn {
  width: 420px;
  height: 430px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: $surface;
  border-radius: 4px;
  z-index: 1111;
}

.signInHeader {
  @include header-text-s;
  color: $on-surface
}

.signInForm {

  display: flex;
  flex-flow: column;

  .formLabel {
    @include text-m;
    color: $hard;
  }

  input {
    max-width: 260px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid $secondary;
    cursor: pointer;
    padding: 16px;
    transition: all 0.27s ease-in-out;
    caret-color: $secondary;

    &::placeholder {
      @include text-s;
      color: $on-surface;
    }
    &:focus {
      @include secondary-shadow-l;
    }
    &:valid {
      @include text-l;
    }
  }

  input:valid {
    color: $on-surface;
  }
}

.secondaryButtons {
  display: flex;
  flex-flow: row;
  gap: 24px;


  .forgetPasswordButton {
    @include text-xs;
    color: $hardest;
  }

}
