@import '@/styles/base/variables';

.root > div {
  gap: 16px;
}
.product__headers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
 
  &__review {
    max-width: 164px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__stars {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;
      margin-right: 8px;
    }
  }    

  span {
    @include text-xs;
    color: $on-surface;
  }

}
