@import './base/reset';
@import './base/variables';

* {
  font-family: 'Rubik', sans-serif;
}

main {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-muted;
  opacity: 0.8;
  z-index: 1000;
}
